absl-py==0.11.0
alabaster==0.7.12
aniso8601==9.0.1
appdirs==1.4.4
APScheduler==3.7.0
argcomplete==2.0.0
Babel==2.9.1
beautifulsoup4==4.10.0
blinker==1.4
boto3==1.20.36
botocore==1.23.36
bs4==0.0.1
cachetools==4.2.0
certifi==2021.10.8
cffi==1.14.4
cfn-flip==1.3.0
chardet==3.0.4
charset-normalizer==2.0.10
click==8.0.3
cryptography==3.2.1
cycler==0.10.0
distlib==0.3.2
docutils==0.16
durationpy==0.5
filelock==3.0.12
Flask==2.0.2
Flask-Cors==3.0.10
Flask-HTTPAuth==4.6.0
Flask-JWT-Extended==4.3.1
Flask-Mail==0.9.1
Flask-RESTful==0.3.9
fonttools==4.38.0
future==0.18.2
futures==3.0.5
fuzzywuzzy==0.18.0
google-api-core==1.25.0
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.5
google-oauth2-tool==0.0.3
googleapis-common-protos==1.52.0
hjson==3.0.2
httplib2==0.18.1
idna==3.3
imagesize==1.3.0
importlib-metadata==4.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
jwt==1.1.0
kappa==0.6.0
kiwisolver==1.3.1
Levenshtein==0.20.5
MarkupSafe==2.0.1
matplotlib==3.5.3
notification==0.2.1
numpy==1.21.6
oauth2client==4.1.3
oauthlib==3.1.1
ortools==8.1.8487
packaging==21.3
pandas==1.2.0
Pillow==8.1.0
pip-tools==5.3.1
placebo==0.9.0
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.11.2
PyJWT==2.6.0
PyMySQL==1.0.2
pyparsing==3.0.6
python-dateutil==2.8.2
python-dotenv==0.20.0
python-Levenshtein==0.20.5
python-slugify==5.0.2
pytz==2021.3
PyYAML==6.0
rapidfuzz==2.11.0
requests==2.27.1
requests-oauthlib==1.3.0
rsa==4.7
s3transfer==0.5.0
Shapely==1.7.1
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.2.1
Sphinx==4.4.0
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stripe==2.60.0
text-unidecode==1.3
text2num==2.4.0
toml==0.10.2
tqdm==4.62.3
troposphere==3.2.2
twilio==7.9.2
typing_extensions==4.0.0
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.26.8
virtualenv==20.4.7
Werkzeug==2.0.2
wsgi-request-logger==0.4.6
xmltodict==0.12.0
zappa==0.56.1
zipp==3.7.0
